pandas==1.0.0
spacy==2.2.3
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz#egg=en_core_web_sm
contractions==0.0.24
truecase==0.0.6
lxml==4.5.0